.jumbotron {
  position: relative;
  background: #000 url("../img/banner1.jpg") no-repeat top center;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  min-height: 500px;
}

.jumbotron .main-banner-title {
  width: 600px;
  font-size: 32px;
  font-weight: bold;
}

.jumbotron .main-banner-byline {
  color: rgb(128,0,0);
} 

.jumbotron .enquiry-form {
  max-width: 280px;
  background: rgba(128,0,0,0.8);
  padding: 10px;
  color: white;
}


.why-us-wrapper {
  margin-top: 35px;
}

.why-us-wrapper h1 {
  color: rgb(128, 0, 0);
  font-weight: bold;
}

.why-us-wrapper li {
  font-size:18px;
}


h1 {
  font-size: 28px;
}

.package {
  margin-top: 20px;
  background: #eee;
  padding: 10px;

}


.package-introduction {
  padding: 20px;
  margin: 10px 0 20px 0;
}

.inclusions, .documents-required {
  padding: 0 5px;
}

h4 {
  font-weight: bold;
}

.notes, .benefits {
  border: solid 1px #eee;
  padding: 10px;
}


.bg-color-light {
    background-color: #f7f7f7 !important;
}
















